name: Go CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build binary
        run: |
          mkdir -p dist
          go build -o dist/hello main.go

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hello-linux
          path: dist/hello
